.App {
  font-family: sans-serif;
  text-align: center;
}
.full-w {
  width: 100%;
}
.pL-20 {
  padding-left: 20px;
}
.is-danger {
  color: red;
  border-color: red;
}
.navbar-nav .nav-link {
  padding: 15px;
  display: inline-block;
  line-height: 20px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: transparent !important;
}
.cl-green {
    color: #5cb85c;
}